/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   초기화 설정
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
	기본 태그 설정
*/

#wrapper {
    position: relative;
}

#header {
	padding: 1em 0em 0em 0.7em ;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 40px;
}

	#header .logo {
		border-bottom: 0;
		color: black;
		font-weight: 700;
		letter-spacing: 0.25em;
		margin: 0 0 2.5em 0;
		text-decoration: none;
		display: inline-block;
	}
		#header .logo > * {
			display: inline-block;
			vertical-align: middle;
		}

		#header .logo .symbol {
			margin-right: 0.65em;
		}

			#header .logo .symbol img {
				display: block;
				width: 4em;
				height: 4em;
			}
			#header .logo .title {
				font-size: 1.2em;
			}
	#topbutton { 
		position: fixed; 
		right: 2em;
		bottom: 2em;
		display: none;
		z-index: 9999;
	}

    .box {
        position: absolute;
        width: 900px;
        padding: 50px 50px 10px 50px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #dcdcdc;
    }

    .titles h2 {
        margin-bottom: 40px;
        font-size: 36px;
        font-weight: 900;
        letter-spacing: 7px;
    }

    .content h3 {
        margin-left: 75px;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 2px;
        line-height: 200%;
    }

    .content h4 {
        margin-left: 85px;
        letter-spacing: 1px;
        line-height: 200%;
    }

    .titles > article {
        text-align: center;
        width: 100%;

    }

    .titles > article > img {
        width: 750px;
        height: 600px;
        object-fit: cover;
        margin-bottom: 50px;
    }

    .content {
        width: 700px;
    }

    .content .txt {
        margin-left: 97px;
        letter-spacing: 0.5px;
        line-height: 170%;
    }

    .cooking_process .txt {
        margin-top: 10px;
    }
    
    .cooking {
        float: left;
        margin-left: 85px;
        margin-right: 20px;
        
    }

    .cooking img {
        width: 250px;
        height: 200px;
        object-fit: cover;
    }

    .clear_float {
        clear: both;
        height: 20px;
    }